.slide-container{
    width: 90%;
    height: auto;
    overflow: hidden;
    margin: auto;
    margin-top: 3%;
}
.carousels{
    background-color: yellow;
    
}
.left-container{
    background-color: blue;
    width: 59.5%;
    float: left;
    padding: 90px;
    
}
.left-container h3,.left-container p{
    color: black;
}
.right-container{
    background-color: red;
    width: 39.5%;
    float: right;
    padding-right: 5%;
    margin: auto;
}
