.hero-container{
    width: 100%;
    height: auto;
  
}


#video{
    width: 100%;
    height: 100%;
}
/* @media(max-width:990px){
    #video{
        width: 100%;
        height: 90vh;
    }
} */

.hero-text{
    position: absolute;
    top: 25%;
    left: 10%;
    right: 20%;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 2rem;
}
@media(max-width:990px){
    .hero-text{
        position: absolute;
        top: 18%;
        
    }
}
@media(max-width:475px){
    .hero-text{
        position: absolute;
        top: 15%;
        
    }
}
.red{
    color: hsla(0, 84%, 48%, 0.834);
}



.hero-text p{
    color: white;
    font-size: 3.5vw;
    text-align: left;
    font-weight: 500;
    display: flex;
    flex-wrap: wrap;
}
.shop-btn{
   position: absolute;

   top: 51%;
   left: 10%;
   right: 43%;
   margin-top: 2rem;

   
}
.btn:hover{
   background-color: black;
   transition: 0.3s ease-in-out;
}
.btn{

    padding: 13px 55px ;
    font-size: 11px;

    padding: 1rem 2rem ;
    font-size: 0.7rem;

    background-color: hsla(0, 84%, 48%, 0.834);
    color: white;
    border: none;
 
}
@media (max-width:990px){
    .shop-btn{
        position: absolute;
        top: 47%;
     
        right: 21%;
        margin-top: 1rem ;
     }
     .btn{
        padding: 11px 33px;
     }

}
@media (max-width:475px){
    .shop-btn{
        position: absolute;
        top: 39%;
     
        right: 30%;
        margin-top: 1rem;

    
     }
     .btn{
        padding: 9px 21px;

     }

}
/* .hero-details{
    justify-content: left;
    align-items: start;
    width: 10%;
} */