.hero-container{
    width: 100%;
    height: auto;
  
}

#video{
    width: 100%;
    height: 100%;
}

.hero-text{
    position: absolute;
    top: 30%;
    left: 20%;
    right: 20%;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 2rem;
}
@media(max-width:990px){
    .hero-text{
        position: absolute;
        top: 17%;
        
    }
}
@media(max-width:475px){
    .hero-text{
        position: absolute;
        top: 13%;
        
    }
}


.hero-text p{
    color: white;
    font-size: 3vw;
    text-align: center;
    font-weight: 500;
    display: flex;
    flex-wrap: wrap;
}
.shop-btn{
   position: absolute;
   top: 45%;
   left: 43%;
   right: 43%;
   
}
.btn:hover{
   background-color: black;
   transition: 0.3s ease-in-out;
}
.btn{
    padding: 13px 55px ;
    font-size: 12px;
    background-color: hsla(0, 84%, 48%, 0.834);
    color: white;
    border: none;
    margin-top: 2rem;
}
@media (max-width:990px){
    .shop-btn{
        position: absolute;
        top: 22%;
        left: 41%;
        right: 41%;
        margin-top: 1rem ;
   
        
     }

}
@media (max-width:475px){
    .shop-btn{
        position: absolute;
        top: 17%;
        margin-top: 1rem;
    
     }

}