*{
    font-family: Tenor Sans;
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
.nav-container{
    height: 10vh;
    width: 100%;
    background-color: black;
    display: flex;
    flex-wrap: wrap;

  
}
.logo{
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 0.3rem;
}
@media(max-width:990px){
    .logo img{
        height: 50px;
        width: 90px;

    }
}
@media(max-width:475px){
    .logo img{
        height: 30px;
        width: 60px;

    }
}
.head-text{
    color: white;
    margin-top: auto;
    margin-bottom: auto;
    font-size: 0.9rem;
    margin-left: 0.6rem;
}

ul{
    color: hsla(0, 84%, 48%, 0.834);
    display: flex;
    gap: 2rem;
    margin-left: 30%;
    flex-wrap: wrap;
    margin-top: auto;
    margin-bottom: auto;
   
}

@media(max-width:990px){
    .nav-list{
        display: none;
    }
}
ul li{
    list-style: none;
    font-size: 0.9rem;
    cursor: pointer;
    font-weight: 650;
   
}
@media(max-width:990px){
    ul li{
        font-size: 0.9rem;
    }
}
@media(max-width:475px){
    ul li{
        font-size: 0.7rem
    }
}
/* ul li:hover{
    color: white;
    font-weight: 900;
} */
.active{
    font-size: larger;
    color: white
}
.menu{
    /* margin-left: 72%;
    margin-top: auto;
    margin-bottom: auto; */
    display: none;
    
}
@media(min-width:990px){
    .menu{
        display: none;
       
    }
}
@media(max-width:990px){
    .menu{
        display: block;
        position: absolute; 
        right: 1rem;
        top: 1.4rem;
     }
}

.mobile-nav{
    background-color:black;
    position: absolute;
    right: 0;
    top: 15px;
    width: 70%;
    height: 80vh;
    z-index: 999;

}
.m-navlist {
    display: flex;
    flex-direction: column;
}
@media(min-width:990px){
    .mobile-nav{
        display: none;
    }
}
@media(max-width:990px){
    .mobile-nav{
        display: none;
    }
}
