*{
    font-family: Tenor Sans;
    overflow: hidden;

}
.nav-container{
    height: 10vh;
    width: 100%;
    background-color: black;
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;

  
}
.logo{
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 0.3rem;
}
@media(max-width:900px){
    .logo img{
        height: 50px;
        width: 90px;

    }
}

ul{
    color: hsla(0, 55%, 55%, 0.786);
    display: flex;
    gap: 2rem;
    margin-left: 30%;
    flex-wrap: wrap;
}

@media(max-width:900px){
    .nav-list{
        display: none;
    }
}
ul li{
    list-style: none;
    font-size: 0.9rem;
    cursor: pointer;
    font-weight: 600;
   
}
@media(max-width:900px){
    ul li{
        font-size: 0.8rem;
    }
}
@media(max-width:450px){
    ul li{
        font-size: 0.7rem
    }
}
/* ul li:hover{
    color: white;
    font-weight: 900;
} */
.active{
    font-size: larger;
    color: white
}
.menu{
    /* margin-left: 72%;
    margin-top: auto;
    margin-bottom: auto; */
    display: none;
    
}
@media(min-width:900px){
    .menu{
        display: none;
       
    }
}
@media(max-width:900px){
    .menu{
        display: block;
        position: absolute; 
        right: 1rem;
        top: 1.5rem;
     }
}

.mobile-nav{
    background-color:black;
    display: flex;
    float: right;
    width: 65%;
    height: 80vh;

}
.m-navlist {
    display: flex;
    flex-direction: column;
}
@media(min-width:900px){
    .mobile-nav{
        display: none;
    }
}
@media(max-width:900px){
    .mobile-nav{
        display: none;
    }
}
