.offer{
    height: 50vh;
    width: 90%;
    background-color: yellow;
    margin: auto;
    margin-top: 30px;
}
.offer-container{
    display: flex;
    flex-direction: row;
    gap: 1rem;
}
.o-box{
    width: 24%;
    height: 300px;
    background-color: blue;
}
.o-box:hover{
    transform: scale(1.0, 1.3);
}