.wedo{
    height: auto;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    background-color: gray;
    
    
    
}

.wedo-text h3{
  text-align: center;
}
.wedo-container{
    width: 70%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    /* background-color: yellow; */
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: 5rem;
    margin-bottom: 5rem;
    color: white;

}

.wedo-left-float{
    width: 60%;

    /* background-color: blue; */
    float: left;
    
}
@media (max-width:475px) {
    .wedo-text p{
        font-size: 0.5rem;
    }
}
@media(max-width:990px){
    .wedo-left-float {
        width: 95%;
       
    }
}
.wedo-right-float{
    width: 40%;
    float: right;
    /* background-color: red; */
}
@media(max-width:990px){
    .wedo-right-float {
        width: 95%;
        margin-top: 1rem;
       
    }
}